<!DOCTYPE html>
<html lang={Gettext.get_locale(FotohaeckerWeb.Gettext) |> String.split("_") |> hd()}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title suffix=" · Fotohaecker">
      <%= assigns[:page_title] || "Fotohaecker" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <%= @inner_content %>
    <footer class="py-4 border-t text-gray-500 dark:text-gray-300 text-center bg-white dark:bg-gray-900">
      Made with ❤️ in Hamburg, Germany.
      <a href="https://github.com/fschoenfeldt/fotohaecker/">
        Source Code
      </a>
    </footer>
  </body>
</html>
