# for production builds
# in case you want to provide an own DATABASE_PATH
# export DATABASE_PATH=""

# in case you want to use the uberspace deployment script
# export UBERSPACE_USER=""
# export UBERSPACE_SERVER="SERVERNAME.uberspace.de"

# in case you want to use automatic tag detection via clarifai
# export CLARIFAI_API_SECRET=""

export SECRET_KEY_BASE="run this command: mix phx.gen.secret"

# in case you want to open api for everyone
# e.g. "https://example.com,http://localhost:4000"
# export API_CORS_ORIGINS=""

# in case you want to use E2E tests
export E2E_USER_ID=""
export E2E_USER_EMAIL=""
export E2E_USER_PASSWORD=""

# in case you want to use auth0
# export AUTH0_CLIENT_ID=""
# export AUTH0_CLIENT_SECRET=""
# export AUTH0_DOMAIN=""

# in case you want to use auth0 management
# export AUTH0_MANAGEMENT_CLIENT_ID=""
# export AUTH0_MANAGEMENT_CLIENT_SECRET=""

# in case you want to use stripe for payments
export STRIPE_SECRET=""
export STRIPE_CONNECT_CLIENT_ID=""
export STRIPE_PRICE_ID=""
export E2E_PHOTOGRAPHER_ID=""
export E2E_PHOTOGRAPHER_EMAIL=""
export E2E_PHOTOGRAPHER_PASSWORD=""

# in case you want to use recipe management
# you can use relative paths, relative to the root's priv dir of the project
# or absolute paths
export RECIPE_IMPLEMENTATION=""
export RECIPE_PATH=""