@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html,
  body {
    @apply h-full;
  }
  div[data-phx-main] {
    @apply min-h-[calc(100vh-9rem)];
  }
  /* merriweather-300 - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 300;
    src: local(""),
      url("/fh/fonts/merriweather/merriweather-v30-latin-300.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fh/fonts/merriweather/merriweather-v30-latin-300.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-regular - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("/fh/fonts/merriweather/merriweather-v30-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fh/fonts/merriweather/merriweather-v30-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-italic - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    src: local(""),
      url("/fh/fonts/merriweather/merriweather-v30-latin-italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fh/fonts/merriweather/merriweather-v30-latin-italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-700 - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("/fh/fonts/merriweather/merriweather-v30-latin-700.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fh/fonts/merriweather/merriweather-v30-latin-700.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* anton-regular - latin */
  @font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("/fh/fonts/anton/anton-v23-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fh/fonts/anton/anton-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    @apply text-signature-grey;
    font-family: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman",
      Times, serif;
  }
  a {
    @apply text-blue-600 underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1,
  h2 {
    font-family: "Anton", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }

  /* https://alpinejs.dev/directives/cloak */
  [x-cloak] {
    display: none !important;
  }

  button,
  .btn {
    @apply rounded border border-gray-800 p-2 px-4 text-gray-800 dark:border-gray-200 dark:text-gray-200;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  progress[value] {
    @apply appearance-none h-4 bg-gray-200 rounded-full;
  }
}

@layer components {
  #home {
    @apply relative z-0 h-full dark:bg-gray-900;

    .intro {
      @apply relative mx-auto flex max-w-6xl flex-col gap-4 p-4 lg:grid lg:gap-8 lg:p-8 z-0;

      @screen lg {
        background-size: 100%;
        grid-template-columns: 1fr 1fr;
        @apply transition-[grid-template-columns] duration-500 ease-in-out delay-200;
      }

      h1 {
        @apply text-[15vw] uppercase leading-none text-white drop-shadow md:text-9xl;

        @screen lg {
          @apply transition-all duration-500 ease-in-out delay-200;
        }
      }

      &--fileselected {
        h1 {
          @apply lg:text-6xl self-end;
        }

        @screen lg {
          grid-template-columns: 1fr 11fr;
        }
      }

      .upload_form {
        @apply h-max rounded-xl border border-gray-300 bg-white p-4 shadow-xl dark:bg-gray-800 md:w-max lg:self-center lg:justify-self-center transition-[width] duration-500 ease-in-out delay-200 overflow-hidden;

        &--fileselected {
          @apply md:w-full;
        }

        &--uploaded {
          @apply md:w-max;
        }

        &.phx-submit-loading {
          @apply animate-pulse;
        }
        label {
          @apply block text-sm font-medium text-gray-700 dark:text-gray-100;
        }
        input[type="text"],
        textarea {
          @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm dark:border-gray-200 sm:text-sm;
        }
        button[type="submit"] {
          @apply rounded border p-2 px-4 dark:text-gray-200;
        }
        .dropzone {
          @apply space-y-2 overflow-hidden rounded-lg border-2 border-dashed border-gray-300 p-4 dark:border-gray-500 flex flex-col justify-center;
          input {
            @apply dark:text-gray-200;
          }
          input::file-selector-button {
            @apply rounded border bg-transparent dark:border-gray-300 dark:text-gray-200;
          }
        }
      }
    }
    .photos {
      @apply relative z-0 mx-auto max-w-6xl space-y-4 rounded-2xl rounded-b-none border bg-gray-100 p-4 shadow dark:bg-gray-800 md:p-10 2xl:mt-8;
      .sortby-options {
        @apply mb-2 flex gap-x-2;
        &__option {
          @apply text-gray-600 underline dark:text-gray-400;
          &--active {
            @apply no-underline;
          }
        }
      }
    }
  }
  #photo {
    @apply dark:bg-gray-800;
  }
  #search {
    @apply p-4 lg:p-8;
  }
  .decorative-gradient {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#4faecc),
      color-stop(#469abc),
      to(#347884)
    );
    background-image: linear-gradient(90deg, #4faecc, #469abc, #347884);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg {
    @apply absolute left-0 top-0 -z-10 h-screen w-full;
    background: rgb(219, 69, 230);
    background: radial-gradient(
      circle,
      rgba(219, 69, 230, 1) 0%,
      rgba(0, 174, 255, 1) 100%
    );
    @media (prefers-color-scheme: dark) {
      background: rgb(30, 58, 138);
      background: radial-gradient(
        circle,
        rgb(30, 58, 138) 0%,
        rgb(107, 33, 168) 100%
      );
    }
    clip-path: ellipse(100% 70% at 0% 0%);
    @screen md {
      clip-path: ellipse(100% 105% at 0% 0%);
    }
  }

  .bg-experiment {
    @apply absolute left-0 top-0 -z-10 h-screen w-full bg-cover brightness-50 dark:bg-gray-900;

    background-image: url(/fh/uploads/my-first-photo_thumb@3x.jpg);

    @screen sm {
      background-image: url(/fh/uploads/my-first-photo_preview.jpg);
    }

    clip-path: ellipse(100% 70% at 0% 0%);
    @screen md {
      clip-path: ellipse(100% 105% at 0% 0%);
    }
  }

  .btn {
    &--transparent {
      @apply border-transparent text-gray-200;
      &:hover {
        @apply border-transparent text-gray-300;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2 dark:ring-blue-400;
      }
    }
    &--light {
      @apply border-gray-200 text-gray-200;
      &:hover {
        @apply border-gray-300 text-gray-300;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2 dark:ring-blue-400;
      }
    }
    &--dark {
      @apply border-gray-800 text-gray-800;
      &:hover {
        @apply bg-gray-800 text-gray-200;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2;
      }
    }
    &--green {
      @apply border-green-800 bg-green-700 text-white shadow-sm;
      &:hover {
        @apply bg-green-900;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2;
      }
    }
    &--blue {
      @apply border-blue-600 bg-blue-500 text-white shadow-sm;
      &:hover {
        @apply bg-blue-600;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2;
      }
    }
    &--blue-outline {
      @apply border-blue-600 text-blue-600;
      &:hover {
        @apply bg-blue-600 text-white;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2;
      }
    }
    &--red {
      @apply border-red-700 bg-red-600 text-white shadow-sm;
      &:hover {
        @apply bg-red-700;
      }
      &:focus {
        @apply ring-2 ring-blue-500 ring-offset-2;
      }
    }
  }

  .link {
    @apply text-blue-600 underline;
    &:hover {
      @apply text-blue-700;
    }

    &--light {
      @apply text-gray-200 underline;
      &:hover {
        @apply text-gray-300;
      }
    }
  }

  .alert {
    @apply fixed right-4 top-4 z-50 w-1/2 rounded border p-4 text-gray-700 shadow;
    &:empty {
      @apply hidden;
    }
    &--info {
      @apply border-blue-200 bg-blue-100;
    }
    &--danger {
      @apply border-red-200 bg-red-100;
    }
  }

  /* Alerts and form errors used by phx.new */
  .invalid-feedback {
    @apply block text-red-500 dark:text-red-400;
  }

  /* LiveView specific classes for your customization */
  .phx-no-feedback.invalid-feedback,
  .phx-no-feedback .invalid-feedback {
    display: none;
  }

  .phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
  }

  .phx-loading {
    cursor: wait;
  }

  .phx-modal {
    opacity: 1 !important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .phx-modal-content {
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .phx-modal-close:hover,
  .phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .fade-in-scale {
    animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
  }

  .fade-out-scale {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
  }

  .fade-in {
    animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
  }
  .fade-out {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
  }

  @keyframes fade-in-scale-keys {
    0% {
      scale: 0.95;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes fade-out-scale-keys {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 0.95;
      opacity: 0;
    }
  }

  @keyframes fade-in-keys {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out-keys {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
