@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html,
  body,
  div[data-phx-main] {
    @apply h-full;
  }
  /* merriweather-300 - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 300;
    src: local(""),
      url("/fonts/merriweather/merriweather-v30-latin-300.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/merriweather/merriweather-v30-latin-300.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-regular - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("/fonts/merriweather/merriweather-v30-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/merriweather/merriweather-v30-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-italic - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    src: local(""),
      url("/fonts/merriweather/merriweather-v30-latin-italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/merriweather/merriweather-v30-latin-italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-700 - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("/fonts/merriweather/merriweather-v30-latin-700.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/merriweather/merriweather-v30-latin-700.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* anton-regular - latin */
  @font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("/fonts/anton/anton-v23-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/anton/anton-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    @apply text-signature-grey;
    font-family: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman",
      Times, serif;
  }
  a {
    @apply text-blue-600 underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1,
  h2 {
    font-family: "Anton", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
}

@layer components {
  #home {
    @apply h-full;
    .bg {
      @apply h-screen w-full absolute -z-10 top-0 left-0;
      background: rgb(219, 69, 230);
      background: radial-gradient(
        circle,
        rgba(219, 69, 230, 1) 0%,
        rgba(0, 174, 255, 1) 100%
      );
      @media (prefers-color-scheme: dark) {
        background: rgb(30, 58, 138);
        background: radial-gradient(
          circle,
          rgb(30, 58, 138) 0%,
          rgb(107, 33, 168) 100%
        );
      }
      clip-path: ellipse(100% 70% at 0% 0%);
      @screen md {
        clip-path: ellipse(100% 100% at 0% 0%);
      }
    }
    .intro {
      @apply relative flex flex-col gap-4 md:gap-8 md:grid p-4 md:p-8;

      @screen md {
        grid-template-columns: 1fr 1fr;
      }
      @screen lg {
        background-size: 100%;
      }

      h1 {
        @apply text-white drop-shadow text-[15vw] leading-none md:text-9xl lg:text-[10rem] uppercase;
      }

      .upload_form {
        @apply lg:self-center lg:justify-self-center h-max md:w-max bg-white dark:bg-gray-800 rounded-xl p-4 shadow-xl border border-gray-300 space-y-4;
        &.phx-submit-loading {
          @apply animate-pulse;
        }
        label {
          @apply block text-sm font-medium text-gray-700 dark:text-gray-100;
        }
        input[type="text"],
        textarea {
          @apply mt-1 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-200 rounded-md;
        }
        button[type="submit"] {
          @apply border p-2 px-4 dark:text-gray-200 rounded;
        }
        .dropzone {
          @apply border-2 border-gray-300 dark:border-gray-500 p-4 rounded-lg border-dashed space-y-2 overflow-hidden;
          input {
            @apply dark:text-gray-200;
          }
          input::file-selector-button {
            @apply bg-transparent border dark:border-gray-300 rounded dark:text-gray-200;
          }
        }
      }
    }
    .photos {
      @apply bg-gray-100 dark:bg-gray-800 max-w-[100rem] mx-auto p-4 md:p-10 rounded-2xl shadow border rounded-b-none 2xl:mt-8;
      .sortby-options {
        @apply flex gap-x-2 mb-2;
        &__option {
          @apply text-gray-500 dark:text-gray-400 underline;
          &--active {
            @apply no-underline;
          }
        }
      }
    }
  }
  #photo {
    @apply bg-gray-100 dark:bg-gray-900;
    .bg {
      @apply h-screen w-full absolute -z-10 top-0 left-0;
      background: rgb(219, 69, 230);
      background: radial-gradient(
        circle,
        rgba(219, 69, 230, 1) 0%,
        rgba(0, 174, 255, 1) 100%
      );
      @media (prefers-color-scheme: dark) {
        background: rgb(30, 58, 138);
        background: radial-gradient(
          circle,
          rgb(30, 58, 138) 0%,
          rgb(107, 33, 168) 100%
        );
      }
      clip-path: ellipse(100% 70% at 0% 0%);
      @screen md {
        clip-path: ellipse(100% 100% at 0% 0%);
      }
    }
  }
  .decorative-gradient {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#4faecc),
      color-stop(#469abc),
      to(#347884)
    );
    background-image: linear-gradient(90deg, #4faecc, #469abc, #347884);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Alerts and form errors used by phx.new */
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert p {
    margin-bottom: 0;
  }
  .alert:empty {
    display: none;
  }
  .invalid-feedback {
    @apply block text-red-500 dark:text-red-400;
  }

  /* LiveView specific classes for your customization */
  .phx-no-feedback.invalid-feedback,
  .phx-no-feedback .invalid-feedback {
    display: none;
  }

  .phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
  }

  .phx-loading {
    cursor: wait;
  }

  .phx-modal {
    opacity: 1 !important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .phx-modal-content {
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .phx-modal-close:hover,
  .phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .fade-in-scale {
    animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
  }

  .fade-out-scale {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
  }

  .fade-in {
    animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
  }
  .fade-out {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
  }

  @keyframes fade-in-scale-keys {
    0% {
      scale: 0.95;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes fade-out-scale-keys {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 0.95;
      opacity: 0;
    }
  }

  @keyframes fade-in-keys {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out-keys {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
