<!DOCTYPE html>
<html lang={Gettext.get_locale(FotohaeckerWeb.Gettext) |> String.split("_") |> hd()}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "Fotohaecker", suffix: " · Fotohaecker") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <header class="relative p-2 md:p-4">
      <section class="flex justify-between">
        <a href={Routes.index_home_path(@conn, :home)} class="text-gray-100 text-xl">
          Fotohäcker
          <span class="bg-blue-500 text-white rounded-full px-2 text-sm no-underline">
            alpha
          </span>
        </a>
        <nav>
          <ul></ul>
        </nav>
        <div x-data="{expanded: false}">
          <button class="btn btn--light" type="button" @click="expanded = !expanded">
            <%= gettext("change language") %>
          </button>
          <ul
            x-cloak
            x-show="expanded"
            @click.away="expanded = false"
            class="bg-gray-50 dark:bg-gray-800 p-2 rounded mt-2 absolute z-10 space-y-2 items-start"
          >
            <%= for locale <- Gettext.known_locales(FotohaeckerWeb.Gettext) do %>
              <li>
                <%= with {name, url} <- locale_gui(locale) do %>
                  <a
                    phx-click="change_locale"
                    phx-value-to={locale}
                    phx-keydown="change_locale"
                    phx-key="Enter"
                    tabindex="0"
                    @click="expanded = false"
                    @keydown.enter="expanded = false"
                    class="flex text-gray-700 dark:text-white gap-2"
                  >
                    <img src={url} class="w-10" alt="" />
                    <%= name %>
                  </a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </header>
    <%= @inner_content %>
    <footer class="py-4 mt-4 border-t text-gray-500 dark:text-gray-300 text-center bg-white dark:bg-gray-900">
      Made with ❤️ in Hamburg, Germany.
      <a href="https://github.com/fschoenfeldt/fotohaecker/">
        Source Code
      </a>
    </footer>
  </body>
</html>
